<li>
	{{name}}

	<button class="change-watched" data-id="{{id}}" data-newwatch="{{watched}}">
		{{#if watched}}I Watched It!{{else}}A Must Watch!{{/if}}
	</button>

	<button class="delete-film" data-id="{{this.id}}">DELETE!</button>
</li>
